
.fieldDate {
    display: none;
}
.choose-hotel .container {
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 30px;
}
.choose-hotel .container .choose-hotel-style {
    background-color: #eeeff2;
    border: 1px solid #cacacc;
    display: flex;
    width: 99.9%;
    border-radius: 5px;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs ul.tabs {
    margin: 0px 0 0 2px;
    padding: 0px;
    list-style: none;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs ul.tabs #tab {
    height: 190px;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs ul.tabs li {
    color: white;
    display: inline-block;
    padding: 5px 20px;
    font-size: 13px;
    margin: 0px -2px;
    cursor: pointer;
    background: linear-gradient(#cac8c7, #928a86);
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #98908c;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs .tab-content {
    display: none;
    background-color: #e6e8ecad;
    padding: 15px;
    height: 190px;

}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs .tab-content.active {
    display: inherit;
    padding: 7px 5px 0 5px;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs {
    width: 375px;
    padding: 0 1px 0 16px;
    padding-bottom: 35px;
    background-color: #f3f3f4;
    border-right: 1px solid #ffffff;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs li.tab-link.active {
    background: linear-gradient(#e6e8ec, #e6e8ec);
    /*clip-rule: #5c5755;*/
    color: #5c5755;
    font-size: 13px;
    border: 1px solid #c5c3c4;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs form {
    margin: 0 0 0 -5px;
    padding-left: 10px;
    padding-bottom: 30px;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field {
    display: inline-grid;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field label {
    font-size: 13px;
    color: #695d51;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field input[type="text"] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field input[type="text"]::placeholder {
    color: #0c0c0b;
    font-size: 10.8px;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field input[type="date"] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs form label input[type="text"]::placeholder {
    color: #0c0c0b;
    font-size: 11px !important;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs input[type="text"]:first-of-type {
    width: 150px;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from {
    width: 80px;
}
.choose-hotel .container .choose-hotel-style label {
    display: inline-grid;
    padding: 0 5px;;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
    position: relative;
    padding-top: 32px
}
.choose-hotel .container .choose-hotel-style img.calendar {
    position: absolute;
    top: 72px;
    right: 115px;
    width: 10px;
}
.choose-hotel .container .choose-hotel-style img.calendar1 {
    position: absolute;
    top: 72px;
    right: 32px;
    width: 10px;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field span {
    font-size: 10px;
    font-weight: 500;
    color: #aaadaf;
}
.choose-hotel .container .choose-hotel-style select {
    word-wrap: normal;
    width: 58px;
    font-size: 11px;
    color: black;
    font-weight: 500;
    text-transform: none;
    border: 1px solid #abadb3;
}
.choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
    font-size: 13px;
    padding: 3px 16px;;
    border-radius: 6px;
    position: absolute;
    top: 133px;
    right: 48px;
    color: #f1f8f2;
    background: linear-gradient(#3aa857, #62cb7d);
    border: 1px solid #3b9753;
}
.choose-hotel .container .choose-hotel-style .effect2 {
    position: relative;
}
.choose-hotel .container .choose-hotel-style .effect2:before,
.choose-hotel .container .choose-hotel-style .effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: -13px;
    left: 15px;
    width: 80%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 4px 20px 10px #b4b4b4;
    transform: rotate(-2deg);
}
.choose-hotel .container .choose-hotel-style .effect2:after {
    transform: rotate(2deg);
    right: 40px;
    left: auto;
}
.choose-hotel .container .choose-hotel-style .box {
    display: flex;
    padding: 10px;
    width: 586px;
    float: left;
    padding: 10px 36px;
    text-align: center;
    border-left: 1px solid #dcdcdc;
}
.choose-hotel .container .choose-hotel-style figure .boxFigure1 {
    margin: 0 6px 0 0px;
}
.choose-hotel .container .choose-hotel-style figure .boxFigure2 {
    margin: 0 0px 0 6px;
}
.choose-hotel .container .choose-hotel-style figcaption {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
}
.choose-hotel .container .choose-hotel-style .box figure img {
    border: 1px solid #d2d3d5;
    border-radius: 5px;
}
.choose-hotel .container .choose-hotel-style .box figure figcaption a {
    font-style: italic;
    color: #046888;
    text-decoration: underline;
}
.choose-hotel .container .choose-hotel-style input#to,
.choose-hotel .container .choose-hotel-style input#from {
    font-size: 11px;
}
.choose-hotel .container .choose-hotel-style .box figure {
    margin: 15px 6px 15px 0px;
    display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
    .choose-hotel .container .choose-hotel-style {
        display: flow-root;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs {
        border-right: none;
        margin: 0 auto;
        width: 100%; /*390px;*/
        padding: 0 16px 35px 16px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field {
        padding: 0 8px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from {
        width: 100px;
    }
    .choose-hotel .container .choose-hotel-style div#ui-datepicker-div {
        position: absolute;
        top: 739.625px;
        left: 5% !important;
        z-index: 1;
        width: 42em !important;
    }
    .choose-hotel .container .choose-hotel-style img.calendar {
        position: absolute;
        top: 70px;
        left: 39%;
    }
    .choose-hotel .container .choose-hotel-style img.calendar1 {
        position: absolute;
        top: 69px;
        right: 41.5% !important;
    }
    .choose-hotel .container .choose-hotel-style .box {
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .box figcaption {
        width: 91%;
        padding: 0 0px 0 40px;
    }
    .choose-hotel .container .choose-hotel-style select {
        word-wrap: normal;
        width: 58px;
        font-size: 11px;
        color: black;
        font-weight: 500;
        text-transform: none;
        border: 1px solid #abadb3;
        margin-top: 2px;
    }
}
@media (min-width: 576px) and (max-width: 765px) {
    .choose-hotel .container .choose-hotel-style {
        display: flow-root;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs {
        border-right: none;
        margin: 0 auto;
        width: 100% !important;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field {
        padding: 0 8px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field input[type="text"] {
        width: 203px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .box {
        width: 100%;
        padding: 10px 12px;
    }
    .choose-hotel .container .choose-hotel-style .box figcaption {
        width: 100% !important;
        padding: 6px 0 0 0 !important;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 126px;
        font-size: 11px;
    }
}
@media (min-width: 576px) and (max-width: 764px) {
    .choose-hotel .container .choose-hotel-style {
        display: inline-block;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs {
        border-right: none;
        margin: 0 auto;
        width: 390px;
        padding: 0 16px 35px 16px;
    }
    .choose-hotel .container .choose-hotel-style .box {
        width: 100%;
        padding: 10px 12px;
    }
    .choose-hotel .container .choose-hotel-style .box figcaption {
        width: 91%;
        padding: 6px 0px 0 0px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 126px;
        font-size: 11px;
    }
}
@media (min-width: 481px) and (max-width: 575px) {
    .choose-hotel .container {
        width: 96%;
    }
    .choose-hotel .container .choose-hotel-style {
        display: inline-block;
        margin: 0 0 0 10px;
        width: 93.9%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs {
        border-right: none;
        margin: 0 auto;
        width: 390px;
        padding: 0 16px 35px 16px;
    }
    .choose-hotel .container .choose-hotel-style .box {
        width: 100%;
        padding: 10px 12px;
        display: block;
    }
    .choose-hotel .container .choose-hotel-style .box figure {
        padding: 10px 10px 20px;
        margin: 0 auto;
    }
    .choose-hotel .container .choose-hotel-style .box figcaption {
        width: 100%;
        padding: 6px 0px 0 0px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        display: inline-grid;
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
        width: 49%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
        height: auto;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 144px;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 196px;
    }
}
@media (min-width: 470px) and (max-width: 480px) {
    .choose-hotel .container {
        width: 89% !important;
        /* padding-right: 15px !important;
        padding-left: 15px !important; */
    }
    .choose-hotel .container .choose-hotel-style {
        display: inline-block;
        margin: 0 0 0 10px;
        width: 93.9%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs {
        border-right: none;
        margin: 0 auto;
        width: 100%;
        padding: 0 16px 35px 16px;
    }
    .choose-hotel .container .choose-hotel-style .box {
        width: 100%;
        padding: 10px 12px;
        display: block;
    }
    .choose-hotel .container .choose-hotel-style .box figure {
        padding: 10px 10px 20px;
        margin: 0 auto;
    }
    .choose-hotel .container .choose-hotel-style .box figcaption {
        width: 100%;
        padding: 6px 0px 0 0px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        display: inline-grid;
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
        width: 49%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
        height: auto;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 144px;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 196px;
    }
}
@media (min-width: 440px) and (max-width: 470px) {
    .choose-hotel .container {
        width: 89% !important;
    }
    .choose-hotel .container .choose-hotel-style {
        display: inline-block;
        margin: 0 0 0 10px;
        width: 93.9%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs {
        border-right: none;
        margin: 0 auto;
        width: 100%;
        padding: 0 16px 35px 16px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        font-size: 13px;
        width: 96px;
        height: 26px;
        border-radius: 6px;
        position: absolute;
        top: 193px;
        right: 15px;
    }
    .choose-hotel .container .choose-hotel-style .box {
        width: 100%;
        padding: 10px 12px;
        display: block;
    }
    .choose-hotel .container .choose-hotel-style .box figure {
        padding: 10px 10px 20px;
        margin: 0 auto;
    }
    .choose-hotel .container .choose-hotel-style .box figcaption {
        width: 100%;
        padding: 6px 0px 0px;
    }
    .choose-hotel .container .choose-hotel-style img.calendar {
        position: absolute;
        top: 147px;
        right: 60%;
    }
    .choose-hotel .container .choose-hotel-style img.calendar1 {
        position: absolute;
        top: 147px;
        right: 11%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:first-of-type {
        display: inline-grid;
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
        position: relative;
        padding-top: 32px;
        height: auto;
        height: auto;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        display: inline-grid;
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
        width: 49%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 144px;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 195px;
        right: 26px;
    }
}
@media (min-width: 320px) and (max-width: 440px) {
    .choose-hotel .container {
        width: 95%;
    }
    .choose-hotel .container .choose-hotel-style {
        display: inline-block;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs {
        border-right: none;
        margin: 0 auto;
        width: 100%;
        padding: 0 16px 35px 16px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .tab-content {
        height: 300px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        top: 250px;
        right: 38%;
    }
    .choose-hotel .container .choose-hotel-style .box {
        width: 100%;
        padding: 10px 12px;
        display: block;
    }
    .choose-hotel .container .choose-hotel-style .box figure {
        margin: 0 0px 0 0px;
        padding: 24px 0px;
        /* width: 200px; */
        margin: 0 auto;
    }
    .choose-hotel .container .choose-hotel-style .box figcaption {
        width: 100%;
        padding: 6px 0px 0 0px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(3) {
        width: 49%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from {
        width: 115px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs span {
        margin: 1px 0 0 10px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs ul.tabs li {
        padding: 5px 19px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 126px;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 222px;
        right: 26px;
    }
}
@media (min-width: 431px) and (max-width: 439px) {
    .choose-hotel .container {
        width: 88%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        display: inline-grid;
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
        width: 49%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
        height: auto;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 144px;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 195px;
        right: 26px;
    }
}
@media (min-width: 412px) and (max-width: 430px) {
    .choose-hotel .container {
        width: 95%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        display: inline-grid;
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
        width: 49%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
        height: auto;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 144px;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 195px;
        right: 26px;
    }
}
@media (min-width: 400px) and (max-width: 411px) {
    .choose-hotel .container {
        width: 95%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        display: inline-grid;
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
        width: 49%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
        height: auto;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 144px;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 195px;
        right: 26px;
    }
}
@media (min-width: 335px) and (max-width: 400px) {
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        display: inline-grid;
        width: 100%;
        margin: 0 auto;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field {
        display: inline-grid;
        margin-top: 10px;
        align-self: baseline;
        padding: 0px 0px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form{
        width: 70% !important;
        padding-left: 0px !important;
        padding-bottom: 60px !important;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .hasel {
        display: initial;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .hasel #rom{
        margin-left: 14px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .hasel #adults{
        margin-left: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field input[type="text"] {
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
        width: 100% !important;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
        height: auto;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 100% !important;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 89%;
        right: 36%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form {
        margin: 0 0 0 -5px;
        padding-left: 10px;
        display: flex;
        padding-bottom: 30px;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
}
@media (min-width: 320px) and (max-width: 335px) {
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #to,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #from,
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(2),
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .field:nth-of-type(3) {
        display: none;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field:nth-of-type(1) {
        display: inline-grid;
        width: 100%;
        margin: 0 auto;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field {
        display: inline-grid;
        margin-top: 10px;
        align-self: baseline;
        padding: 0px 0px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form{
        width: 70% !important;
        padding-left: 0px !important;
        padding-bottom: 60px !important;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .hasel {
        display: initial;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .hasel #rom{
        margin-left: 14px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs .hasel #adults{
        margin-left: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form .field input[type="text"] {
        width: 100%;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate {
        display: inline-grid !important;
        width: 100% !important;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs #tab-1 {
        height: auto;
    }
    .choose-hotel .container .choose-hotel-style .fieldDate input[type=date] {
        border-radius: 6px;
        padding: 0 0 0 5px;
        height: 30px;
        background-color: #d1d2d3;
        border: 1px solid #b0b1b147;
        border-top: 1px solid #b0b1b1;
        width: 100% !important;
        font-size: 11px;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form button {
        position: absolute;
        top: 89%;
        right: 36%;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs form {
        margin: 0 0 0 -5px;
        padding-left: 10px;
        display: flex;
        padding-bottom: 30px;
        width: 90% !important;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .choose-hotel .container .choose-hotel-style .choose-hotel-tabs ul.tabs li {
        padding: 5px 17px;
    }
}

