header{
  padding-top: 17px;
  padding-bottom: 20px;
}
header .container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 280px auto 190px;
}
header .header-text {
  width: 130px;
  color: #677788;
  font-family: Calibri;
  font-size: 17px;
  font-weight: 300;
  line-height: 5px;
  padding-top: 17px;
  height: 53px;
  border-left: 1px solid #677788;
  padding-left: 6px;
  margin-left: -2px;
}
header .header-info p:first-child{
  height: 15px;
  color: #677788;
  font-family: Calibri;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 7px;
}
header .header-info p:last-child{
  height: 15px;
  color: #677788;
  /*font-size: 18px;*/
  font-weight: 400;
  line-height: 22px;
}
header .header-info  p span {
  padding-right: 10px;
}
header .info-revers{
    display: none;
}
@media screen and (max-width: 768px){
    header {
        padding-bottom: 10px;
    }
    header  .container{
        grid-template-columns: 170px auto auto;
    }
    header .container .logo{
        width: 160px;
        margin-top: 5px;
    }
    header .container .header-text {
        font-size: 16px;
        margin: 0px 0 0 0px;
        height: 44px;
        line-height: 2px;
    }
    header .header-info p:first-child{
        margin-right: 12px;
        line-height: 28px;
        margin-top: -4px;
        font-size: 14px;
        text-align: end;
    }
    header .header-info p:last-child {
        font-size: 14px;
        text-align: end;
        margin-top: 0px;
        line-height: 6px;
        padding-top: 3px;

    }
    header .container .header-info span img{
        width: 14px;
        margin-left: -2px;
    }
    .nav .container .mt-2,
    .nav .container .my-2 {
        margin-top: .0rem !important;
    }
}
@media screen and (max-width: 575px){
    header {
        padding: 10px 12px 10px 12px;
    }
    header .container{
        display: flex;
        width: auto;
        justify-content: center;
    }
    header  div {
        margin: 0 15px;
    }
    header .container .logo{
        width: 150px;
    }
    header .container .header-text {
        width: auto;
        font-size: 16px;
        height: 40px;
        line-height: 2px;
        padding-top: 10px;
        border-left: none;
    }
    header .header-info {
        display: none;
    }
    header .info-revers{
        display: block;
    }
    header .info-revers p:first-child{
        margin-right: 10px;
    }
    header .info-revers p:first-child,
    header .info-revers p:last-child {
        font-size: 14px;
        text-align: center;
        padding-top: 0px;
        color: #677788;
        margin-top: 8px;
    }
    header .info-revers p:last-child {
        font-size: 15px;
        line-height: 6px;
        padding-top: 0px;
        text-align: center;
        margin-top: -9px;
        color: #677788;
    }
    header .info-revers span img{
        width: 14px;
    }
}
@media screen and (max-width: 350px){
    header .container .logo{
        width: 125px;
    }
    header .container .header-text {
        font-size: 15px;
    }
}
