
.maps .container {
  background-color: #ffffff;
  display: flex;
}
.maps .container #map {
  padding-left: 20px;
}
.maps .container #map iframe{
  border: 2px solid #e7e8e8;
  border-radius: 5px;
  width: 355px;
  height: 280px;
}
.maps .container .info {
  width: 62%;
  display: flex;
  padding: 0 30px;
}
.maps .container .info .text{
  padding: 0 15px;
}
.maps .container .info .text h6{
  font-family: MyriadPro-Regular;
  font-size: 18px;
  color: rgba(44, 44, 44, 255);
}
.maps .container .info .text p{
  font-family: MyriadPro-Regular;
  font-size: 13px;
}
.maps .container .info .text a{
  font-style: italic;
  color: #046888;
  text-decoration: underline;
}
@media (min-width: 766px) and (max-width:991px) {
  .maps .container {
    display: block;
  }
  .maps .container #map {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .maps .container #map iframe {
    width: 100%;
  }
  .maps .container .info {
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    margin: 0 auto;
    padding: 30px 0 0 0;
  }
}
@media (min-width: 576px) and (max-width:765px) {
  .maps .container {
    display: block;
  }
  .maps .container #map {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .maps .container #map iframe {
    width: 100%;
  }
  .maps .container .info {
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    margin: 0 auto;
    padding: 30px 0 0 0;
  }
}
@media (min-width: 460px) and (max-width:575px) {
  .maps .container {
    display: block;
    width: 96%;
  }
  .maps .container #map {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .maps .container #map iframe {
    width: 100%;
  }
  .maps .container .info {
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    margin: 0 auto;
    padding: 30px 0 0 0;
  }
}
@media (min-width: 440px) and (max-width:459px) {
  .maps .container {
    display: block;
    width: 96%
  }
  .maps .container #map {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
  .maps .container #map iframe {
    width: 100%;
  }
  .maps .container .info {
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    margin: 0 auto;
    padding: 30px 0 0 0;
  }
}
@media (min-width: 320px) and (max-width:439px) {
  .maps .container {
    display: block;
    width: 95%
  }
  .maps .container #map {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
  .maps .container #map iframe {
    width: 100%;
  }
  .maps .container .info {
    width: 49%;
    display: contents;
    margin: 0 auto;
    padding: 30px 0 0 0;
  }
  .maps .container .info .text {
    padding: 22px 15px 0 15px;
  }
}
