header{
  padding-top: 17px;
  padding-bottom: 20px;
}
header .container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 280px auto 190px;
}
header .header-text {
  width: 130px;
  height: 30px;
  color: #677788;
  font-family: Calibri;
  font-size: 17px;
  font-weight: 300;
  line-height: 5px;
  padding-top: 17px;
  height: 53px;
  border-left: 1px solid #677788;
  padding-left: 6px;
  margin-left: -2px;
}
header .header-info p:first-child{
  height: 15px;
  color: #677788;
  font-family: Calibri;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 7px;
}
header .header-info p:last-child{
  height: 15px;
  color: #677788;
  /*font-size: 18px;*/
  font-weight: 400;
  line-height: 22px;
}
header .header-info  p span {
  padding-right: 10px;
}
header .info-revers{
    display: none;
}
@media (min-width: 576px) and (max-width: 768px) {
  header {
    padding-bottom: 10px;
  }
  header  .container{
    grid-template-columns: 170px auto auto;
  }
  header .container .logo{
    width: 160px;
  }
  header .container .header-text {
    font-size: 14px;
    margin: 0px 0 0 0px;
    height: 44px;
    line-height: 2px;
  }
  .chooseHotel .container .chooseHotelStyle .box {
    width: 100%;
    display: block;
    padding: 10px 12px;
}
.chooseHotel .container .chooseHotelStyle .box figure {
  margin: 15px 6px 15px 0px;
  display: block;
}
  header .header-info p:first-child,
  header .header-info p:last-child {
    font-size: 14px;
    text-align: end;
    margin-top: 0px;
  }
  header .header-info p:first-child{
    line-height: 28px;
  }
  header .header-info p:last-child {
    line-height: 6px;
    padding-top: 3px;
    margin-top: -6px;
  }
  header .container .header-info span img{
    width: 14px;
    margin-left: -2px;
  }

 }
@media (min-width: 523px) and (max-width: 575px) {
  header {
     padding: 10px 12px 10px 12px;
  }
  header .container{
      display: grid !important;
      width: auto;
      grid-template-columns: 33.5% auto 31%;
  }
  header .container .logo{
    width: 160px;
  }
  header .container .header-text {
      width: auto;
    font-size: 14px;
    /*margin: 0px 0 0 10px;*/
    height: 44px;
    line-height: 2px;
  }
  header .header-info p:first-child,
  header .header-info p:last-child {
    font-size: 14px;
      text-align: left;
    margin-top: 0px;
  }

  header .header-info p:last-child {
    line-height: 6px;
    padding-top: 3px;
    margin-top: -6px;
      text-align: left;;
  }
  header .container .header-info span img{
    width: 14px;
  }

 }
@media (min-width: 490px) and (max-width: 523px) {
    header {
        padding: 10px 12px 10px 12px;
    }
    header .container{
        display: grid !important;
        width: auto;
        grid-template-columns: 33.5% 33% 33%
    }
    header .container .logo{
        width: 150px;
    }
    header .container .header-text {
        width: auto;
        font-size: 14px;
        /*margin: 0px 0 0 10px;*/
        height: 44px;
        line-height: 2px;
    }
    header .header-info p:first-child,
    header .header-info p:last-child {
        font-size: 14px;
        text-align: left;
        margin-top: 0px;
    }

    header .header-info p:last-child {
        line-height: 6px;
        padding-top: 3px;
        margin-top: -6px;
        text-align: left;;
    }
    header .container .header-info span img{
        width: 14px;
    }

}
@media (min-width: 473px) and (max-width: 490px) {
    header {
        padding: 10px 12px 10px 12px;
    }
    header .container{
        display: grid !important;
        width: auto;
        grid-template-columns: 29% 38% 34%;
    }
    header .container .logo{
        width: 125px;
    }
    header .container .header-text {
        width: auto;
        font-size: 13.5px;
        height: 33px;
        line-height: 2px;
        padding-top: 8px;
    }
    header .header-info p:first-child,
    header .header-info p:last-child {
        font-size: 14px;
        text-align: left;
        margin-top: 0px;
        padding-top: 0px;
    }

    header .header-info p:last-child {
        line-height: 6px;
        padding-top: 0px;
        text-align: left;
        margin-top: -9px;
    }
    header .container .header-info span img{
        width: 14px;
    }

}
@media (min-width: 430px) and (max-width: 473px) {
    header {
        padding: 10px 12px 10px 12px;
    }
    header .container{
        display: grid !important;
        width: auto;
        grid-template-columns: 32% 30% 38%;
    }
    header .container .logo{
        width: 125px;
    }
    header .container .header-text {
        width: auto;
        font-size: 13.5px;
        height: 33px;
        line-height: 2px;
        padding-top: 8px;
    }
    header .header-info p:first-child,
    header .header-info p:last-child {
        font-size: 14px;
        text-align: left;
        margin-top: 0px;
        padding-top: 0px;
    }

    header .header-info p:last-child {
        line-height: 6px;
        padding-top: 0px;
        text-align: left;
        margin-top: -9px;
    }
    header .container .header-info span img{
        width: 14px;
    }

}
@media (min-width: 410px) and (max-width: 430px) {
    header {
        padding: 10px 12px 10px 12px;
    }
    header .container{
        display: grid !important;
        width: auto;
        grid-template-columns: 34% 28% 38%;
    }
    header .container .logo{
        width: 125px;
    }
    header .container .header-text {
        width: auto;
        font-size: 13px;
        height: 33px;
        line-height: 2px;
        padding-top: 8px;
    }
    header .header-info p:first-child,
    header .header-info p:last-child {
        font-size: 13px;
        text-align: left;
        margin-top: 0px;
        padding-top: 0px;
    }

    header .header-info p:last-child {
        line-height: 6px;
        padding-top: 0px;
        text-align: left;
        margin-top: -9px;
    }
    header .container .header-info span img{
        width: 14px;
    }

}
@media (min-width: 320px) and (max-width: 410px) {
    header {
        padding: 10px 12px 10px 12px;
    }
    header .container{
        display: flex;
        width: auto;
        justify-content: center;
    }
    header  div {
        margin: 0 15px;
    }
    header .container .logo{
        width: 125px;
    }
    header .container .header-text {
        width: auto;
        font-size: 16px;
        height: 40px;
        line-height: 2px;
        padding-top: 10px;
        border-left: none;
    }
    header .header-info {
        display: none;
    }
    header .info-revers{
        display: block;
    }
    header .info-revers p:first-child{
        margin-right: 10px;
    }
    header .info-revers p:first-child,
    header .info-revers p:last-child {
        font-size: 14px;
        text-align: center;
        padding-top: 0px;
        color: #677788;
        margin-top: 8px;
    }

    header .info-revers p:last-child {
        font-size: 15px;
        line-height: 6px;
        padding-top: 0px;
        text-align: center;
        margin-top: -9px;
        color: #677788;
    }
    header .info-revers span img{
        width: 14px;
    }

}

