footer .container {
  background-color: #000000;
  border-radius: 5px;
}
footer .container  div p{
  text-align: center;
  font-size: 10px;
  font-family: Arial-Regular;
  padding: 8px 0px;
  color: #8b8b8b;
  margin-bottom: 0rem;
}
@media (min-width: 400px) and (max-width:576px) {
  footer{
    display: flex;
    width: 100%;
  }
  footer .container {
    margin: 0 9px;
  }
}
@media (min-width: 320px) and (max-width:576px) {
  footer{
    display: flex;
    width: 100%;
  }
  footer .container {
    margin: 0 9px;
  }
  footer div {
    padding: 0 21px;
  }
}
  