.fieldDate{
  display: none;
}
.chooseHotel .container{
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 30px;
}
.chooseHotel .container .chooseHotelStyle{
  background-color: #eeeff2;
  border: 1px solid #cacacc;
  display: flex;
  width: 99.9%;
  border-radius: 5px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs ul.tabs{
  margin: 0px 0 0 2px;
  padding: 0px;
  list-style: none;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs ul.tabs #tab{
 height: 190px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs ul.tabs li{
  color: white;
  display: inline-block;
  padding: 5px 20px;
  font-size: 13px;
  margin: 0px -2px;
  cursor: pointer;
  background: linear-gradient(#cac8c7, #928a86);
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #98908c;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .tab-content{
  display: none;
  background-color: #e6e8ecad; 
  padding: 15px;
  height: 190px;
  
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .tab-content.active{
  display: inherit;
  padding: 0 0 0 4px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs{
  width: 375px;
  padding: 0 1px 0 16px; 
  padding-bottom: 35px; 
  background-color: #f3f3f4;
  border-right: 1px solid #ffffff;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs li.tab-link.active {
 background: linear-gradient(#e6e8ec, #e6e8ec);
 /*clip-rule: #5c5755;*/
 color: #5c5755;
 font-size: 13px;
 border: 1px solid #c5c3c4;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form {
  margin: 0 0 0 -5px;
  padding-left: 10px;
  padding-bottom: 30px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field{
  display: inline-grid;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field label{
  font-size: 13px;
  color: #695d51;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field  input[type="text"] {
  border-radius: 6px;
  padding: 0 0 0 5px;
  height: 30px;
  background-color: #d1d2d3;
  border: 1px solid #b0b1b147;
  border-top: 1px solid #b0b1b1;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field  input[type="text"]::placeholder{
  color: #0c0c0b;
  font-size: 12px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field  input[type="date"] {
  border-radius: 6px;
  padding: 0 0 0 5px;
  height: 30px;
  background-color: #d1d2d3;
  border: 1px solid #b0b1b147;
  border-top: 1px solid #b0b1b1;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form label input[type="text"]::placeholder{
  color: #0c0c0b;
  font-size: 11px !important;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs input[type="text"]:first-of-type{
  width: 150px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from{
  width: 80px;
}
label {
  display: inline-grid;
  padding: 0 5px;;
}
div#tab-1 {
  position: relative;
  padding-top: 32px
}
img.calendar {
  position: absolute;
  top: 69px;
  right: 116px;
}
img.calendar1 {
  position: absolute;
  top: 69px;
  right: 32px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field span{
  font-size: 10px;
  font-weight: 500;
  color: #aaadaf;
}
select {
  word-wrap: normal;
  width: 58px;
  font-size: 11px;
  color: black;
  font-weight: 500;
}
 select {
  text-transform: none;
  border: 1px solid #abadb3;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
  font-size: 13px;
  width: 96px;
  height: 26px;
  border-radius: 6px;
  position: absolute;
  top: 126px;
  right: 48px;
  color: #f1f8f2;
  background: linear-gradient(#3aa857, #62cb7d);
  border: 1px solid #3b9753;
}
.effect2{
position: relative;
}
.effect2:before, .effect2:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: -13px;
  left: 15px;
  width: 80%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 4px 20px 10px #b4b4b4;
  transform: rotate(-2deg);
}
.effect2:after{
transform: rotate(2deg);
right: 40px;
left: auto;
}
.box {
  display: flex;
  padding: 10px;
  width: 586px;
  float: left;
  padding: 10px 36px;
  text-align: center;
  border-left: 1px solid #dcdcdc;
}
figure.boxFigure1 {
  margin: 0 6px 0 0px;
}
figure.boxFigure2 {
  margin: 0 0px 0 6px;
}
figcaption {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
}
.box figure img{
  border: 1px solid #d2d3d5;
  border-radius: 5px;
}

.box figure figcaption a{
  font-style: italic;
  color: #046888;
  text-decoration: underline;
}
input#to,
input#from {
  font-size: 11px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .chooseHotel .container .chooseHotelStyle {
    display: flow-root;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs {
    border-right: none;
    margin: 0 auto;
    width: 100%;    /*390px;*/
    padding: 0 16px 35px 16px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field {
    padding: 0 8px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from{
    width: 100px;
  }
  div#ui-datepicker-div {
    position: absolute;
    top: 739.625px;
    left: 5% !important;
    z-index: 1;
    width: 42em !important;
  } 
  img.calendar {
    position: absolute;
    top: 70px;
    left: 39%;
  }
  img.calendar1 {
    position: absolute;
    top: 69px;
    right: 41.5%;
  }
  .chooseHotel .container .chooseHotelStyle .box {
    width: 100%;
  }
  .chooseHotel .container .chooseHotelStyle .box figcaption {
    width: 91%;
    padding: 0 0px 0 40px;
  }
}
@media (min-width: 576px) and (max-width:765px) {
  .chooseHotel .container .chooseHotelStyle {
    display: flow-root;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs {
    border-right: none;
    margin: 0 auto;
    width: 100% !important;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field {
    padding: 0 8px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field input[type="text"] {
    width: 203px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
    display: none;
  }
 
  .chooseHotel .container .chooseHotelStyle .box {
    width: 100%;
    padding: 10px 12px;
  }
  .chooseHotel .container .chooseHotelStyle .box figcaption{
    width: 100% !important;
    padding: 6px 0 0 0 !important;
  }
  .fieldDate {
    display: inline-grid !important;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 126px;
    font-size: 11px;
  }
}
@media (min-width: 576px) and (max-width:764px) {
  .chooseHotel .container .chooseHotelStyle {
    display: inline-block;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs {
    border-right: none;
    margin: 0 auto;
    width: 390px;
    padding: 0 16px 35px 16px;
  }
  .chooseHotel .container .chooseHotelStyle .box {
    width: 100%;
    padding: 10px 12px;
  }
  .chooseHotel .container .chooseHotelStyle .box figcaption {
    width: 91%;
    padding: 6px 0px 0 0px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .fieldDate {
    display: inline-grid !important;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 126px;
    font-size: 11px;
  }
}
@media (min-width: 481px) and (max-width:575px) {
  .chooseHotel .container {
    width: 96%;
  }
  .chooseHotel .container .chooseHotelStyle {
    display: inline-block;
    margin: 0 0 0 10px;
    width: 93.9%;
  }
  
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs {
    border-right: none;
    margin: 0 auto;
    width: 390px;
    padding: 0 16px 35px 16px;
  }
  .chooseHotel .container .chooseHotelStyle .box {
    width: 100%;
    padding: 10px 12px;
    display: block;
  }
  .chooseHotel .container .chooseHotelStyle .box figure {
    padding: 10px 10px 20px;
    margin: 0 auto;
  }
  .chooseHotel .container .chooseHotelStyle .box figcaption {
    width: 100%;
    padding: 6px 0px 0 0px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
    display: inline-grid;
    width: 100%;
  }
  .fieldDate {
    display: inline-grid !important;
    width: 49%;
  }
  div#tab-1 {
    height: auto;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 144px;
    font-size: 11px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    position: absolute;
    top: 196px;
  }
}
@media (min-width: 470px) and (max-width:480px) {
  .chooseHotel .container {
    width: 89% !important;
    /* padding-right: 15px !important;
    padding-left: 15px !important; */
  }
  .chooseHotel .container .chooseHotelStyle {
    display: inline-block;
    margin: 0 0 0 10px;
    width: 93.9%;
  }
  
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs {
    border-right: none;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px 35px 16px;
  }
  .chooseHotel .container .chooseHotelStyle .box {
    width: 100%;
    padding: 10px 12px;
    display: block;
  }
  .chooseHotel .container .chooseHotelStyle .box figure {
    padding: 10px 10px 20px;
    margin: 0 auto;
  }
  .chooseHotel .container .chooseHotelStyle .box figcaption {
    width: 100%;
    padding: 6px 0px 0 0px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
    display: inline-grid;
    width: 100%;
  }
  .fieldDate {
    display: inline-grid !important;
    width: 49%;
  }
  div#tab-1 {
    height: auto;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 144px;
    font-size: 11px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    position: absolute;
    top: 196px;
  }
}
@media (min-width: 440px) and (max-width:470px) {
  .chooseHotel .container {
    width: 89% !important;
  }
  .chooseHotel .container .chooseHotelStyle {
    display: inline-block;
    margin: 0 0 0 10px;
    width: 93.9%;
  }
  
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs {
    border-right: none;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px 35px 16px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    font-size: 13px;
    width: 96px;
    height: 26px;
    border-radius: 6px;
    position: absolute;
    top: 193px;
    right: 15px;
  }
  .chooseHotel .container .chooseHotelStyle .box {
    width: 100%;
    padding: 10px 12px;
    display: block;
  }
  .chooseHotel .container .chooseHotelStyle .box figure {
    padding: 10px 10px 20px;
    margin: 0 auto;
  }
  .chooseHotel .container .chooseHotelStyle .box figcaption {
    width: 100%;
    padding: 6px 0px 0 px;
  }
  img.calendar {
    position: absolute;
    top: 147px;
    right: 60%;
  }
  img.calendar1 {
    position: absolute;
    top: 147px;
    right: 11%;
  } 
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:first-of-type {
    display: inline-grid;
    width: 100%;
  }
  div#tab-1 {
    position: relative;
    padding-top: 32px;
    height: auto;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
    display: inline-grid;
    width: 100%;
  }
  .fieldDate {
    display: inline-grid !important;
    width: 49%;
  }
  div#tab-1 {
    height: auto;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 144px;
    font-size: 11px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    position: absolute;
    top: 195px;
    right: 26px;
  }
}

@media (min-width: 320px) and (max-width:440px) {
  .chooseHotel .container {
    width: 95%;
  }
  .chooseHotel .container .chooseHotelStyle {
    display: inline-block;
  }
  
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs {
    border-right: none;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px 35px 16px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .tab-content {
    height: 300px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    top: 250px;
    right: 38%;
}
  .chooseHotel .container .chooseHotelStyle .box {
    width: 100%;
    padding: 10px 12px;
    display: block;
  }
  .chooseHotel .container .chooseHotelStyle .box figure {
    margin: 0 0px 0 0px; 
    padding: 24px 0px;
    /* width: 200px; */
    margin: 0 auto;
  }
  .chooseHotel .container .chooseHotelStyle .box figcaption {
    width: 100%;
    padding: 6px 0px 0 0px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1) {
    width: 100%;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(2),
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(3) {
  width: 49%;
}

.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
 .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from {
  width: 115px;
}
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs span {
    margin: 1px 0 0 10px;
}

.chooseHotel .container .chooseHotelStyle .chooseHoteTabs ul.tabs li {
  padding: 5px 19px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
   display: none;
}
.fieldDate {
  display: inline-grid !important;
}
.fieldDate input[type=date] {
  border-radius: 6px;
  padding: 0 0 0 5px;
  height: 30px;
  background-color: #d1d2d3;
  border: 1px solid #b0b1b147;
  border-top: 1px solid #b0b1b1;
  width: 126px;
  font-size: 11px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
  position: absolute;
  top: 222px;
  right: 26px;
}
}
@media (min-width: 431px) and (max-width:439px) {
  .chooseHotel .container {
    width: 88%;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
   display: none;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
  display: inline-grid;
  width: 100%;
}
.fieldDate {
  display: inline-grid !important;
  width: 49%;
}
div#tab-1 {
  height: auto;
}
.fieldDate input[type=date] {
  border-radius: 6px;
  padding: 0 0 0 5px;
  height: 30px;
  background-color: #d1d2d3;
  border: 1px solid #b0b1b147;
  border-top: 1px solid #b0b1b1;
  width: 144px;
  font-size: 11px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
  position: absolute;
  top: 195px;
  right: 26px;
}
}
@media (min-width: 412px) and (max-width:430px) {
  .chooseHotel .container {
    width: 95%;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
    display: inline-grid;
    width: 100%;
  }
  .fieldDate {
    display: inline-grid !important;
    width: 49%;
  }
  div#tab-1 {
    height: auto;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 144px;
    font-size: 11px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    position: absolute;
    top: 195px;
    right: 26px;
  }
}
@media (min-width: 400px) and (max-width:411px) {
  .chooseHotel .container {
    width: 95%;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
   display: none;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
  display: inline-grid;
  width: 100%;
}
.fieldDate {
  display: inline-grid !important;
  width: 49%;
}
div#tab-1 {
  height: auto;
}
.fieldDate input[type=date] {
  border-radius: 6px;
  padding: 0 0 0 5px;
  height: 30px;
  background-color: #d1d2d3;
  border: 1px solid #b0b1b147;
  border-top: 1px solid #b0b1b1;
  width: 144px;
  font-size: 11px;
}
.chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
  position: absolute;
  top: 195px;
  right: 26px;
}
}
@media (min-width: 385px) and (max-width:400px) {
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
    display: inline-grid;
    width: 100%;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field {
    display: inline-grid;
    margin-top: 10px;
    align-self: baseline;
    padding: 0px 15px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field input[type="text"] {
    width: 100%;
  }

  .fieldDate {
    display: inline-grid !important;
    width: 180px !important;
  }
  div#tab-1 {
    height: auto;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 100% !important;
    font-size: 11px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    position: absolute;
    top: 86%;
    right: 62px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form {
    margin: 0 0 0 -5px;
    padding-left: 10px;
    display: flex;
    padding-bottom: 30px;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
}

@media (min-width: 376px) and (max-width:385px) {
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
    display: inline-grid;
    width: 100%;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field {
    display: inline-grid;
    margin-top: 10px;
    align-self: baseline;
    padding: 0px 15px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field input[type="text"] {
    width: 100%;
  }

  .fieldDate {
    display: inline-grid !important;
    width: 180px !important;
  }
  div#tab-1 {
    height: auto;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 100% !important;
    font-size: 11px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    position: absolute;
    top: 86%;
    right: 62px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form {
    margin: 0 0 0 -5px;
    padding-left: 10px;
    display: flex;
    padding-bottom: 30px;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
}
@media (min-width: 340px) and (max-width:375px) {
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
    display: inline-grid;
    width: 100%;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field {
    display: inline-grid;
    margin-top: 10px;
    align-self: baseline;
    padding: 0px 15px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field input[type="text"] {
    width: 100%;
  }

  .fieldDate {
    display: inline-grid !important;
    width: 90% !important;
  }
  div#tab-1 {
    height: auto;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 100% !important;
    font-size: 11px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    position: absolute;
    top: 86%;
    right: 62px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form {
    margin: 0 0 0 -5px;
    padding-left: 10px;
    display: flex;
    padding-bottom: 30px;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width:339px) {
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #to,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs #from,
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(2),
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs .field:nth-of-type(3){
     display: none;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field:nth-of-type(1){
    display: inline-grid;
    width: 100%;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field {
    display: inline-grid;
    margin-top: 10px;
    align-self: baseline;
    padding: 0px 15px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form .field input[type="text"] {
    width: 100%;
  }

  .fieldDate {
    display: inline-grid !important;
    width: 87% !important;
  }
  div#tab-1 {
    height: auto;
  }
  .fieldDate input[type=date] {
    border-radius: 6px;
    padding: 0 0 0 5px;
    height: 30px;
    background-color: #d1d2d3;
    border: 1px solid #b0b1b147;
    border-top: 1px solid #b0b1b1;
    width: 100% !important;
    font-size: 11px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form button {
    position: absolute;
    top: 86%;
    right: 62px;
  }
  .chooseHotel .container .chooseHotelStyle .chooseHoteTabs form {
    margin: 0 0 0 -5px;
    padding-left: 10px;
    display: flex;
    padding-bottom: 30px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
}
