@import "../fonts/fonts.css";

@import "blockHeader.css";
@import "blockNav.css";
@import "blockChooseHotel.css";
@import "blockMaps.css";
@import "blockFooter.css";

body{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
*{
  padding: 0;
  margin: 0;
}
.container{
  width: 976px;
  padding-right: 0px !important;  
  padding-left: 0px !important;
  margin: 0 auto;
}
iframe{
  border: none;
}
